
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 0 0 10rem 0;
    box-sizing: border-box; 
  }

  .App.light {
    color: #000000;
  }
  
  .App.dark {
    color: #ffffff;
  }

  .layout {
    width: 100%;
    /* padding: 0 3rem; */
  }

  .buttonWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    margin: 80px 0;
    padding: 6px;

    border: 1px solid #e5e7eb;
    border-radius: 1.5rem;
  }

  .buttonWrapper.light{
    background-color: #fafafa;
  }

  .buttonWrapper.dark{
    background-color: unset;
  }

  .buttonWrapper button{
    cursor: pointer;

    padding: 5px 32px;

    border-radius: 1.5rem;

    box-shadow: none;
    border: none;
   
    transition: all 0.7s ease-in-out;  
  }

  .buttonWrapper button.light{
    color: #000000;
  }

  .buttonWrapper button.dark{
    color: #e4e8ee
  }

  .noBacKground{
    background: unset;
  }

  .active{
    background: #21262d;
  }

  .active.light{
    background-color: #e4e8ee;
  }

  .active.dark{
    background-color: #21262d;
  }

  .card {
    opacity: 0.8;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border-color: #fff;
    color: #fff;
    min-width: 150px;
    transition: all ease-in-out 0.5s !important;
    cursor: grab;
  }

  .card.light{
    background-color: #fafafa;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.35);
  }

  .card.dark{
    background-color: #161b1d; 
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.35);
  }

  .App.react-grid-layout.react-grid-item.react-grid-placeholder { 
    background: blue !important; 
  }

  .socialItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    cursor: grab;
  }
  
  .profile {
    text-align: center;
  }

  .profileContainer{
    padding: 32px;
  }

  .profileContainer p{
    margin-top: 30px;
    font-size: 16px;
    
    line-height: 25px;
    font-weight: 300;
  }

  .profileContainer.light p{
    color: #0e1628;
  }

  .profileContainer.dark p{
    color: #e0e0e1;
  }

  .profileTitle{
    display: flex;
    align-items: center;
  }

  .profileTitle img{
    border: 1px solid #09090d;
    padding: 6px;
    border-radius: 999px;
  }

  .profileTitle span{
    font-size: 40px;
    font-weight: 300;
    margin-left: 40px;
  }

  .profileTitle.light span{
    color: #0e1628;
  }

  .profileTitle.dark p{
    color: #e0e0e1;
  }

  .resume{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    width: 100%;
    height: 100%;
  }

  .resume span{
    font-size: 13px;
  }

  .resume.light span{
    color: #65656a
  }

  .resume.dark span{
    color: #65656a
  }

  .resume h3{
    font-size: 20px;
  }

  .resume.light h3{
    color: #65656a
  }

  .resume.dark h3{
    color: #ffffff
  }


  .cvButton a svg{
    width: 30px;
    height: 30px;

    margin-left: 15px;

    cursor: pointer;

    opacity: 0.8;
  }

  .cvButton.light a svg path{
    color: #65656a;
  }

  .cvButton.dark a svg path{
    color: #ffffff;
  }

  .map{
    position: relative;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    background-image: url("../../assets/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .mapLayer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    border-radius: 10px;

    width: 100%;
    height: 100%;

    background: #000000;
    opacity: 0.3;
  }

  .mapLayer.light{
    display: none;
  }

  .mapLayer.dark{
    display: block;
  }

  .socialButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    cursor: pointer;

    opacity: 0.8;
  }

  .socialButton svg{
    width: 50px;
    height: 50px;
  }

  .socialButton.light svg path{
    color: #65656a;
  }

  .socialButton.dark svg path{
    color: #ffffff;
  }
  
  .resume button, .social button {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
  }
  
  .resume button:hover, .social button:hover {
    background-color: #0056b3;
  }

  .themeToggle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 100%;

    padding: 0 10px;
  }
  
  .themeToggle button {
    font-size: 2rem;
    border: none;
    color: #fff;
    cursor: pointer;

    border-radius: 10px;

    cursor: pointer;

    width:90px;
    height: 50px;

    transition: all 0.8s ease-in-out;
  }

  .themeActive{
    background-color: #373737;
  }

  .themeActive.light {
    background-color: unset;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.35);
  }

  .themeActive.dark{
    background-color: #373737;
  }

  .themeNoBackground{
    background-color: unset;
  }
  
  .map {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #999;
  }

  .techContainer{
    padding: 32px;
  }

  .techContainer h3{
    font-size: 15px;
    font-weight: 500;
    color: #65656a;
  }

  .techSlider{
    /* min-height: 200px; */
    margin: 70px 0;
  }

  .techSlider.slick-slider{
    max-width: 500px !important;
  }

  .techSliderItem{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .techSliderItem img{
    padding: 15px;

    border-radius: 15px;
  }

  .techSliderItem.light img{
    background-color: #dbdbdb;
  }

  .techSliderItem.dark img{
    background-color: #252526;
  }

  .techFooter p{
    font-size: 15px;
    font-weight: 500;
    color: #65656a;
    margin-bottom: 20px;
  }

  .techFooter span{
    font-size: 30px;
    font-weight: 500;
  }

  .techFooter.light span{
    color: #0e1628;
  }

  .techFooter.dark span{
    color: #ffffff;
  }

  .workContainer{
    padding: 32px;
  }

  .workContainer h4{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 40px;
  }

  .workContainer.light h4{
    color: #65656a;
  }

  .workContainer.dark h4{
    color: #ffffff;
  }

  .workContainer h3{
    font-size: 15px;
    font-weight: 500;
    color: #65656a;
  }

  .workItemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-top: 35px;
  }

  .workItemContainer h2{
    font-size: 40px;
    font-weight: 500;
  }

  .workItemContainer.light h2{
    color: #65656a;
  }

  .workItemContainer.dark h2{
    color: #ffffff;
  }

  .workItem{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 150px;
  }

  .workItem p{
    font-size: 18px;
    margin-block-end: 0;
    margin-block-start: 0;
    text-align: right;
  }

  .workItem.light p{
    color: #65656a;
  }

  .workItem.dark p{
    color: #ceced3;
  }

  .workItem span{
    margin-top: 5px;
    font-size: 15px;
    color: #65656a;
  }

  .projectContainer{
    padding: 32px;
  }

  .projectContainer span{
    font-size: 14px;
    opacity: 0.8;
    color: #7d7d81;
  }

  .project1Image{
    width: 100%;
    height: 400px;

    border-radius: 10px;

    background-image: url("../../assets/project1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 0.8;

    margin-bottom: 10px;
  }

  .project2Image{
    width: 100%;
    height: 400px;

    border-radius: 10px;

    background-image: url("../../assets/project2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 0.8;
    margin-bottom: 10px;
  }

  .project3Image{
    width: 100%;
    height: 400px;

    border-radius: 10px;

    background-image: url("../../assets/project3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 0.8;
    margin-bottom: 10px;
  }

  .project4Image{
    width: 100%;
    height: 400px;

    border-radius: 10px;

    background-image: url("../../assets/project4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 0.8;
    margin-bottom: 10px;
  }

  .projectDescription{
    display: flex;
    align-items: center;

    margin: 40px 0;
  }

  .projectDescription{
    opacity: 0.8;
  }

  .projectDescription p{
    font-size: 25px;
    font-weight: bold;
  }

  .projectDescription.light p{
    color: #000000;
  }

  .projectDescription.dark p{
    color: unset;
  }

  .projectDescription.light svg path{
    color: #000000;
  }

  .projectDescription.dark svg path{
    color: unset;
  }

  .projectDescription svg{
    width: 30px;
    height: 30px;

    margin-left: 15px;

    opacity: 0.8;

    cursor: pointer;
  }

  .techList{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .techList p{
    font-size: 12px;
    padding: 5px 10px;

    margin-block-end: 0;
    margin-block-start: 0;

    border-radius: 20px;

    opacity: 1;
  }

  .techList.light p{
    background-color: #e4e8ee;
    color: #65656a;
  }

  .techList.dark p{
    background-color: #33333b;
    color: #8b8a8d;
  }

  @media (max-width: 768px) {
    .layout {
      padding: 0;
    }

    .buttonWrapper button{
      padding: 5px 29px;
    }

    .projectDescription{
      margin: 20px 0;
    }

    .projectDescription p{
      font-size: 20px;
    }

    .workItemContainer h2{
      font-size: 25px;
    }

    .profileTitle span{
      font-size: 28px;
      margin-left: 19px;
    }

    .projectContainer{
      padding: 16px;
    }

    .workContainer{
      padding: 16px;
    }

    .profileContainer{
      padding: 16px;
    }
  }
  